extends ../layout/auth

block main
    .auth-box
        h2.auth-title Đăng nhập hệ thống

        if error
            p.auth-error #{error}

        form(
            method="POST" 
            action=`${prefixAdmin}/auth/login`
        )
            div(class = "form-group")
                label(for="email") Email
                input(
                    type="email"
                    name="email"
                    id="email"
                    placeholder="Nhập email"
                    
                )

            div(class = "form-group")
                label(for="password") Mật khẩu
                input(
                    type="password"
                    name="password"
                    id="password"
                    placeholder="Nhập mật khẩu"
                    required
                )

            div(class = "form-group")
                button(type="submit" 
                    class="btn btn-primary btn-block"
                ) Đăng nhập