extends ../../layout/default.pug
include ../../mixin/alert.pug

block main 
    h1(class="mb-4") Tạo mới tài khoản
    +error("5000")

    form(
        action = `${prefixAdmin}/accounts/create`
        id="form-create-accounts"
        method="POST"
        enctype="multipart/form-data"
    )
        div(class="form-group")
            label(for="name") Tên tài khoản
            input(
                type="text"
                class="form-control"
                id="fullname"
                name="fullname"   
            )
        div(class="form-group")
            label(for="desc") Số điện thoại
            input(
                type="text"
                class="form-control"
                name="phone"
            )
        div(class="form-group")
            label(for="email") Email
            input(
                type="email"
                class="form-control"
                id="email"
                name="email"     
            )
        div(class="form-group")
            label(for="password") Password
            input(
                type="text"
                class="form-control"
                id="password"
                name="password"
                
            )
        select(
            name="role_id"
            class="form-control"
        ) 
            option(value="") -- Chọn quyền --
            each item in record 
                option(value = item._id) #{item.title} 
        div(
            class="form-group"
            upload-image
        )
            label(for="avatar") Avatar
            input(
                type="file"
                class="form-control-file"
                id="avatar"
                name="avatar"
                upload-avatar-input
            )
            img(
                src = ""
                class = "img-preview"
                upload-avatar-img
            )
        
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusActive"
                name="status"
                value="active"
                checked
            )
            label(for="statusActive" class="form-check-label") Hoạt động
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusInActive"
                name="status"
                value="inactive"
            )
            label(for="statusInActive" class="form-check-label") Dừng hoạt động
        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            ) Tạo mới



    script(src="/admin/JS/script.js") 


