extends ../../layout/default.pug

block main
    
    .container.product-detail.mt-4
        .row
            .col-md-6
                .card.product-image-card
                    .card-body.text-center
                        img(
                            src = product.image
                            alt = product.title
                            class="product-image"
                        )

            .col-md-6
                .card.product-info-card
                    .card-body
                        h2.product-title= product.title
                        if( recordCategory)
                            div.inner-category
                                span Danh mục 
                                a(href=`/product/${recordCategory.slug}`) #{recordCategory.title}

                        if(product.discountPercentage > 0)
                            .price-discount-box
                                span(
                                    class = "discount-badge"
                                ) -#{product.discountPercentage}%
                                span(
                                    class = "original-price"
                                ) Giá gốc: #{product.price} $

                            h3(class = "final-price")
                                | Giá khuyến mãi:
                                | #{product.newPrice} $
                        else
                            h3(
                                class = "final-price"
                            )
                                | Giá: #{product.price} $

                        hr

                        div
                            strong Mô tả:
                            | !{product.description}

                        div
                            strong Trạng thái: 
                            -if(product.status == "active")
                                span(
                                    class = "status-active"
                                ) Hoạt động
                            -else
                                span(
                                    class = "status-inactive"
                                ) Ngừng bán
                        label(for="stock")
                            div(class="inner-stock") Còn lại <span>#{product.stock}</span> sản phẩm
                                 
                        form(
                            action=`/cart/add/${product.id}`
                            method="POST"
                        )
                            input(
                                type="number"
                                min=1
                                max = product.stock
                                class="stock-badge"
                                value=1
                            )
                            button(
                                class = "btn-add-cart"
                                type="submit"
                            ) Thêm vào giỏ hàng

        
