include ../mixin/sub-menu.pug

header.header 
    .container
        .row(class="align-items-center")
            .col-2
                .inter-logo
                    a(href="/")
                        img(
                            src=""
                            alt="Logo"
                            style="height: 50px"
                        )
            .col-5
                form(
                    action="/search"
                    method="GET"
                )
                    div(class="form-group d-flex mb-0")
                        input(
                            type="text"
                            placeholder="Nhập từ khóa..."
                            class="form-control"
                            name="keyword"
                        )
                        button(
                            type="submit"
                            class="btn btn-primary"
                        ) Tìm

            .col-5
                .inner-menu
                    ul(class="nav justify-content-end")
                        li(class="nav-item")
                            a(
                                href="/" 
                                class="nav-link text-primary"
                            ) Trang chủ
                        li(class= "sub-menu" )
                            -const path = "/product/category"
                            a(
                                href="/product"
                                class="nav-link text-primary"
                            ) Sản phẩm
                                +submenu(category, path)
                        li(class="nav-item")
                            a(
                                href="/cart" 
                                class="nav-link text-primary"
                            ) Giỏ hàng (#{cart ? cart.totalProduct : 0})
                        li(class="nav-item")
                            a(
                                href="/user/register" 
                                class="nav-link text-primary"
                            ) Đăng ký
                            