include ../mixin/sub-menu.pug

header.header 
    .container
        .row(class="align-items-center")
            .col-md-2
                .inter-logo
                    a(href="/")
                        img(
                            src="general.logo"
                            alt="Logo"
                            style="height: 50px"
                        )
            .col-9
                .inner-menu
                    ul(class="nav justify-content-end")
                        li(class="nav-item")
                            a(
                                href="/" 
                                class="nav-link text-primary"
                            ) Trang chủ
                        li(class= "sub-menu" )
                            -const path = "/product"
                            a(
                                href="/product"
                                class="nav-link text-primary"
                            ) Sản phẩm
                                +submenu(category, path)