extends ../../layout/default.pug
include ../../mixin/product-item.pug
include ../../mixin/box-head.pug
include ../../mixin/alert.pug
block main
    +error("5000")
    .container.my-5 
        .row.justify.content.center
            .col-8
                h1(class="text-center") Nhập Email tài khoản

                form(
                    method="POST" 
                    action="/user/password/forgot"
                )
                    
                    div(class = "form-group")
                        label(for="email") Email
                        input(
                            type="email"
                            class="form-control"

                            name="email"
                            id="email"
                            placeholder="Nhập email"              
                        )
                    div(class = "form-group")
                        button(type="submit" 
                            class="btn btn-primary btn-block"
                        ) Gửi email xác nhận                