extends ../../layout/default.pug
include ../../mixin/product-item.pug
include ../../mixin/box-head.pug
include ../../mixin/alert.pug
block main
    +error("5000")
    .container.my-5 
        .row.justify.content.center
            .col-8
                h1(class="text-center") Đăng nhập

        
                form(
                    method="POST" 
                    action="/user/login"
                )
                    
                    div(class = "form-group")
                        label(for="email") Email
                        input(
                            type="email"
                            class="form-control"

                            name="email"
                            id="email"
                            placeholder="Nhập email"
                            
                        )

                    div(class = "form-group")
                        label(for="password") Mật khẩu
                        input(
                            type="password"
                            class="form-control"

                            name="password"
                            id="password"
                            placeholder="Nhập mật khẩu"
                            required
                        )

                    button(type="submit" class="btn-auth") Đăng nhập