extends ../../layout/default.pug
include ../../mixin/product-item.pug
include ../../mixin/box-head.pug
include ../../mixin/alert.pug

block main
    +error("5000")
    .container.my-5 
        .row.justify.content.center
            .col-8
                h1(class="text-center") Đổi mật khẩu
                form(
                    method="POST" 
                    action="/user/password/reset-password"
                )
                    
                    div(class = "form-group")
                        label(for="password") Mật khẩu mới
                        input(
                            type="password"
                            class="form-control" 
                            name="password"
                            id="password"
                            placeholder="Mật khẩu mới"
                            
                        )

                    div(class = "form-group")
                        label(for="repassword") Xác nhận mật khẩu
                        input(
                            type="password"
                            class="form-control"

                            name="repassword"
                            id="re_password"
                            placeholder="Xác nhận mật khẩu"
                            required
                        )

                    div(class = "form-group")
                        button(type="submit" 
                            class="btn btn-primary btn-block"
                        ) Đổi mật khẩu
                