extends ../../layout/default.pug
include ../../mixin/statusList.pug
include ../../mixin/search.pug
include ../../mixin/pagination.pug
include ../../mixin/form-change-multi.pug
include ../../mixin/alert.pug
include ../../mixin/tableTree.pug


block main 
    .card.mb-3
        .card-header Bộ lọc và Tìm kiếm
            .card-body
                .row
                    .col-6
                        +buttonStatus(listStatus)
                    .col-6 
                        +search(keyword)
    .card.mb-3
        .card-header Sắp xếp
        .card-body
            .row
                .col-4
                    div(sort)
                        select(
                            class = "form-control",
                            name="sort"
                            sort-select
                        )
                            option(value="position-desc") Vị trí giảm dần
                            option(value="position-asc") Vị trí tăng dần
                            option(value="name-asc") Tiêu đề A - Z
                            option(value="name-desc") Tiêu đề Z - A
                        button(
                            class = "btn btn-danger mt-2",
                            sort-clear
                        ) Clear 
   
    .card.mb-3
        .card-header Danh mục sản phẩm
            .card-body 
                .row 
                    .col-8 
                    .co-4 
                        a(
                            href=`${prefixAdmin}/products-category/create`
                            class="btn btn-outline-success"
                        ) +Thêm mới
            .card-body
                table(
                    class ="table table-hover table-sm"
                    checkbox-multi
                ) 
                    thead 
                        tr 
                            th 
                                input(
                                    type="checkbox"
                                    checkbox-all
                                )
                            th STT
                            th Hình ảnh
                            th Tiêu đề
                            th Giá
                            th Vị trí
                            th Trạng thái
                            th Hành động
                    tbody
                        +tableTree(record, 1)
                        
    +pagination(pagination)
    form(
        action = ""
        method = "POST"
        form-change-status 
        data-path = `${prefixAdmin}/products-category/change-status/`
    )

    form(
        action = ""
        method = "POST"
        form-delete 
        data-path = `${prefixAdmin}/products-category/delete/`
    )
    script(src="/admin/JS/script.js") 